@model IEnumerable<OdeToFood.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Restaurant", FormMethod.Get))
{
    @Html.DropDownList("State", new SelectList(ViewBag.States))
    <input type="submit", value="Filter" />
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", "Restaurant", new {id = item.ID}, null),
        </td>
        <td>
            @item.Address.City, @item.Address.State
        </td>
        
    </tr>
}

</table>
