@model IEnumerable<OdeToFood.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Restaurant", FormMethod.Get))
{
    @Html.DropDownList("state", new SelectList(ViewBag.States))
    <input type="submit" value="Filter" />
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.Address.City, @item.Address.State
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>


@Html.ActionLink("Show restaurants in MD", "Index", "Restaurant", new {state = "MD"}, null)
