<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
       
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                @*<img src="@Url.Content("~/Content/images/OdeToFood.png")" alt="OdeToFood" />*@
            </div>

            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>

            <div id="menucontainer">

                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li> 
                    <li>@Html.ActionLink("Restaurants", "Index", "Restaurant")</li>                  
                    <li>@Html.ActionLink("Read Reviews", "Index", "Reviews")</li>
                </ul>

            </div>
        </div>

        <div id="main">
            @RenderBody()
            <div id="footer">
            @*Html.Action("BestReview", "Reviews"); *@  
            @RenderSection("Footer", false)          
            </div>
        </div>
    </div>
    
    
     @Content.Script("jquery-1.5.1.min.js", Url)
     @Content.Script("jquery.unobtrusive-ajax.min.js", Url)
     @RenderSection("scripts", false)
</body>
</html>


